@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

a{
  color:#F3F3F3;
  text-decoration: none;
  margin-left: 15px;
}
a:hover{
text-decoration: none;
  color:#686868;
}
.check-button{
  background-color: transparent;
  border-width: 0px;
}
.nav-change{
  background-color: black;
  margin-bottom: 0;
}

.spotify-body{
  background-color:#686868 ;
}

footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}
footer a:hover{
text-decoration: none;
color: black;
}
.logos a {
  padding: 10px;
}

.logo {
  color: var(--dark);
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
}
.sidebar a:hover{
  text-decoration: none;
  color: #686868;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
}
.langauge:hover
{
  color: #686868;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.body-container{
 /* background-color: #302d2d; */
 background-image: linear-gradient(#302d2d,#0e0d0d);
 padding:30px;
 padding-left:85px;
}

.main-heading{
  color:#e7dbdb;
  font-family: "roboto";
  font-weight:650;
  margin-bottom:30px;
}

.cards-align-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-design{
  max-width:200px;
  max-height:300px;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:10px;
  border-radius:10px;
  background-color: #403e3e;
  margin-bottom:70px;
  transition: transform .3s;
  /* overflow: auto; */
}

.card-image{
  border-radius:15px;
  height:63%;
  width:100%;
  margin-bottom:7px;
}

.card-heading{
  font-family: "roboto";
  font-weight:500;
  color:white;
  font-size:1.3em;
}

.card-para{
  font-family: "roboto";
  color:#a09999;
  font-size:0.7em;
  /* overflow: auto; */
}

.card-button{
  display:none;
}


.card-design:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-design:hover .card-button{
  display:inline;
}

.icon-design{
  height:40px;
  width:40px;
  color:green;
}

#Spotify_SignUp{  
  display: flex;
  align-items: center;
  height: 100vh;
}

.signUpPage{
  position: fixed;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1611339555312-e607c8352fd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3BvdGlmeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size:cover;
  background-repeat:no-repeat;
  background-blend-mode: darken;
  width:500px;
  height:400px;
  border-radius:10px;
  z-index:2;
  inset:0;
  margin:auto;
  text-align: center;
  padding:20px;
  padding-top:100px;
}

.input-design{
  width:100%;
  padding: 10px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-bottom: 15px;
  border-style: solid;
  border-color: rgb(32, 124, 32);
  color: rgb(32, 124, 32);
  border-width:3px;
}

.button-design{
  border-radius:7px;
  background-color: rgb(32, 124, 32);
  color:white;
  font-family: "roboto";
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.button-design:hover{
  letter-spacing: 0.25em;
}

.closeButton-design{
  border-radius:7px;
  background-color: white;
  color:black;
  font-family: "roboto";
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.closeButton-design:hover{
  letter-spacing: 0.25em;
}

.add-change{
  opacity:0.7;
}

#IncPara{
  color:red;
  font-family:"roboto";
}
